$primary: #001F3F;   // navy blue
$secondary: #007BFF; // blue
$skyblue: #00BFFF;   // sky blue
$white: #ffffff;     // white
/* You can add global styles to this file, and also import other style files */
